*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(65, 116, 116);
    display:grid;
    
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    border-top-left-radius: 0%;
}
a{
    text-decoration: none;
    color:black;
}
li{
    margin: 0 10px;
    color-scheme: pink;
}
img{
    border: radius 50%;
}
